version: "3.7"

services:
  ## --------------------------- OFICIALBOXBTV --------------------------- ##
  oficialboxbtv:
    image: tsilvaec/oficialboxbtv:latest
    container_name: oficialboxbtv
    restart: unless-stopped
    
    networks:
      - upxnet
    
    environment:
      - PORT=3000
      - NODE_ENV=production
      - TZ=America/Sao_Paulo
    
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.25"
          memory: 256M
      labels:
        - traefik.enable=true
        - traefik.http.routers.oficialboxbtv.rule=Host(`oficialboxbtv.com`) || Host(`www.oficialboxbtv.com`)
        - traefik.http.routers.oficialboxbtv.entrypoints=websecure
        - traefik.http.routers.oficialboxbtv.tls.certresolver=letsencryptresolver
        - traefik.http.routers.oficialboxbtv.priority=1
        - traefik.http.routers.oficialboxbtv.service=oficialboxbtv
        - traefik.http.services.oficialboxbtv.loadbalancer.server.port=3000
        - traefik.http.services.oficialboxbtv.loadbalancer.passHostHeader=true
        - traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https
        - traefik.http.routers.oficialboxbtv.middlewares=sslheader

networks:
  upxnet:
    external: true
    name: upxnet

